body {
  background-color: #fff;
  overflow-y: auto;
}

html,
body {
  overflow-y: auto;
}
.table-head-center table th {
  text-align: center !important;
}
body::-webkit-scrollbar {
  width: 4.5px;
  height: 4.5px;
}
body::-webkit-scrollbar-thumb {
  box-shadow: none;
  background-color: grey;
  border-radius: 4.5px;
}
body::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
  border-radius: 10px;
  background-color: transparent;
}
.custom-scrollbar::-webkit-scrollbar,
.custom-scrollbar > table::-webkit-scrollbar,
.ql-editor::-webkit-scrollbar {
  width: 3px !important;
  height: 3px !important;
}
.custom-scrollbar::-webkit-scrollbar-thumb,
.custom-scrollbar > table::-webkit-scrollbar-thumb,
.ql-editor::-webkit-scrollbar-thumb {
  box-shadow: none;
  background-color: rgba(128, 128, 128, 0.616);
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-track,
.ql-editor::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
  border-radius: 10px;
  background-color: transparent;
}
.custom-scrollbar-low-opacity::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.custom-scrollbar-low-opacity::-webkit-scrollbar-thumb {
  box-shadow: none;
  background-color: rgba(128, 128, 128, 0.196);
  border-radius: 3px;
}
.custom-scrollbar-low-opacity::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
  border-radius: 10px;
  background-color: transparent;
}
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.signInBg {
  background-image: url("./assets/sign-in-image.png");
}
.slick-list,
.slick-track,
.slick-slide > div {
  height: 100%;
}
.slick-dots li button:before {
  margin-top: 1rem !important;
  font-size: 15px !important;
}
.slick-dots li.slick-active button:before {
  color: #e65800 !important;
  opacity: 100% !important;
}
.discount-bg {
  background-image: url("./assets/discount-bg.png");
}
.footerTags p {
  cursor: pointer;
  width: fit-content;
  opacity: 70%;
}
.footerTags p:hover {
  text-decoration: underline;
}
.pie-chart-cont svg g:nth-of-type(1) text {
  font-size: 14px;
}
.pie-chart-cont svg g:nth-of-type(3) text {
  font-size: 10px;
  font-weight: 800;
}
.MuiDataGrid-virtualScrollerContent {
  height: auto !important;
  /* width: 40rem !important; */
}
.MuiDataGrid-scrollbar {
  width: 5px !important;
}
.ql-toolbar {
  flex: 1;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.ql-container {
  flex: 1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.customer-table table {
  background-color: white !important;
}
.reports-page .recharts-cartesian-axis-line[orientation="left"] {
  display: none;
}

.MuiButton-root {
  text-transform: none !important;
}
