@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: Inter;
}
html,
body {
  overflow-y: auto;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

button,
a,
p {
  transition: all 0.2s ease-in-out;
}

input {
  outline: none;
}

.accent-orange {
  accent-color: #ea580c;
}

#product-qty-input::-webkit-outer-spin-button,
#product-qty-input::-webkit-inner-spin-button {
  -webkit-appearance: textfield !important;
  opacity: 1 !important;
}
